@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

amplify-s3-image {
  --width: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.img-square img h2 {
  margin: 0 auto;
  text-align: center;
}

.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
  border: 'solid 1px #e5e7eb';
}

/* Tag Input style */

.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 40px;
  border: solid 1px #e5e7eb;
  border-radius: 4;
  min-width: 200px;
  font-size: 16px;
  padding: 0 2.5em 0 0.5em;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #bbc0c3;
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 400;
}

.input_container {
  border: 1px solid #e5e5e5;
  border-radius: 50;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
  width: 200;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
}

/* Amplify log-in form */

.amplify-button--primary {
  background-color: #ff461f !important;
  height: 60;
  border-radius: 4px;
  font-weight: 500;
}

[data-indicator-position=top] > .amplify-tabs-item {
  border-color: white;
  border-width: 0;
}

.amplify-tabs-item {
  color: #212121 !important;
  font-weight: normal;
}

.amplify-input:focus {
  border-color: var(--amplify-colors-blue-60);
  box-shadow: none;
}
.amplify-input {
  border-radius: 2px;
}
